<body>
	<div class='container-fluid bg-index full-div'>
		<header class='header fixed-top'>
			<div class='container-fluid text-center'>
				<%= image_tag('logo/logo-up.png', :alt => 'UP', :class => 'logo-up') %>
				<h2 class='sub-banner saira-extra-condensed-extra-bold-font'><span class='dark-green'>University of the Philippines<br></span></h2>
			</div>
		</header>
		<br>
		<div>
			<br><br><br><br><h4 class='sub-banner saira-extra-condensed-extra-bold-font text-center'><font color='pink'>PENC Development Team</font></h4>
			<table cellpadding='22'>
				<tr>
				<td><%= image_tag('developers/edcel.jpg', :alt => 'dev', :class => 'img') %></td>
				<td><%= image_tag('developers/cylwyn.jpg', :alt => 'dev', :class => 'img') %></td>
				<td><%= image_tag('developers/nikka.jpg', :alt => 'dev', :class => 'img') %></td>
				<td><%= image_tag('developers/trisha-chan.jpg', :alt => 'dev', :class => 'img') %></td>
				</tr>
				<tr>
					<td>
						<h3 class='saira-extra-condensed-extra-bold-font text-center'><font color='white'>Marie Edcel Balite<br></font></h3>
						<h4 class='saira-extra-condensed-extra-bold-font text-center'><span class='dark-green'>Project Manager</span></h4>
					</td>
					<td>
						<h3 class='saira-extra-condensed-extra-bold-font text-center'><font color='white'>Cylwyn Ronald Creer<br></font></h3>
						<h4 class='saira-extra-condensed-extra-bold-font text-center'><span class='dark-green'>Member</span></h4>
					</td>
					<td>
						<h3 class='saira-extra-condensed-extra-bold-font text-center'><font color='white'>Nikka Marie de Jesus<br></font></h3>
						<h4 class='saira-extra-condensed-extra-bold-font text-center'><span class='dark-green'>Member</span></h4>
					</td>
					<td>
						<h3 class='saira-extra-condensed-extra-bold-font text-center'><font color='white'>Patricia Nicole Opetina<br></font></h3>
						<h4 class='saira-extra-condensed-extra-bold-font text-center'><span class='dark-green'>Member</span></h4>
					</td>
				</tr>
			</table>
		</div>
		<footer class='footer fixed-bottom'>
			<div class='container-fluid text-center'>
				<span class='text-muted open-sans-font'>Copyright © Study Path Tracking System 2018</span>
			</div>
		</footer>
	</div>
</body>